Repository Team-BingBong/BE-05-Bingterpark, pull requests merged in 2023-12, with the labels that each got.

#8 [회원] 회원, 관리자, 그룹, 권한 엔티티 정의
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/AccountBaseEntity.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Admin.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Group.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/GroupPermission.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Member.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Permission.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/enums/AccountStatus.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/enums/Gender.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/enums/Provider.java
Labels: feature, member

#7 [예매] 예매 취소, 결제 엔티티 생성
  core/core-domain/src/main/java/com/pgms/coredomain/domain/order/OrderCancel.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/order/Payment.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/order/PaymentMethod.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/order/PaymentStatus.java
Labels: feature, order

#6 [예매] 예매, 티켓 엔티티 정의
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/Ticket.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/order/Order.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/order/OrderStatus.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/order/ReceiptType.java
Labels: feature, order

#9 [공연] Event 엔티티 및 연관관계 추가
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/Event.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventHall.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventHallSeat.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventImage.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventReview.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventSeat.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventSeatArea.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventSeatStatus.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventTime.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/GenreType.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/SeatAreaType.java
Labels: feature, event

#15 fix : 모듈 세팅 변경
  api/api-event/.gitignore
  api/api-event/gradlew
  api/api-event/gradlew.bat
  api/api-event/settings.gradle
  api/api-member/.gitignore
  api/api-member/gradlew
  api/api-member/gradlew.bat
  api/api-member/settings.gradle
  api/api-order/.gitignore
  api/api-order/gradlew
  api/api-order/gradlew.bat
  api/api-order/settings.gradle
  build.gradle
  core/core-domain/.gitignore
  core/core-domain/build.gradle
  core/core-domain/gradle/wrapper/gradle-wrapper.jar
  core/core-domain/gradlew
  core/core-domain/gradlew.bat
  core/core-domain/settings.gradle
  core/core-infra/.gitignore
  core/core-infra/gradlew
  core/core-infra/gradlew.bat
  core/core-infra/settings.gradle
Labels: fix

#14 feat: 일반 관리자 기능 구현
  api/api-member/src/main/java/com/pgms/apimember/controller/AdminController.java
  api/api-member/src/main/java/com/pgms/apimember/dto/response/AdminGetResponse.java
  api/api-member/src/main/java/com/pgms/apimember/dto/response/MemberDetailGetResponse.java
  api/api-member/src/main/java/com/pgms/apimember/dto/response/MemberSummaryGetResponse.java
  api/api-member/src/main/java/com/pgms/apimember/service/AdminService.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Admin.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Member.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Role.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/RolePermission.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/AdminRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/MemberRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/PermissionRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/RolePermissionRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/RoleRepository.java
Labels: feature, member

#17 feat: 좌석 목록 조회
  api/api-order/src/main/java/com/pgms/apipayment/controller/SeatController.java
  api/api-order/src/main/java/com/pgms/apipayment/dto/request/SeatsGetRequest.java
  api/api-order/src/main/java/com/pgms/apipayment/dto/response/AreaResponse.java
  api/api-order/src/main/java/com/pgms/apipayment/dto/response/SeatResponse.java
  api/api-order/src/main/java/com/pgms/apipayment/exception/BookingErrorCode.java
  api/api-order/src/main/java/com/pgms/apipayment/exception/BookingExceptionHandler.java
  api/api-order/src/main/java/com/pgms/apipayment/service/SeatService.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventSeat.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventSeatArea.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventSeatStatus.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/SeatAreaType.java
  core/core-domain/src/main/java/com/pgms/coredomain/repository/event/EventSeatRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/response/ErrorResponse.java
Labels: feature, order

#22 feat: 공연장 기능 추가
  api/api-event/src/main/java/com/pgms/apievent/event/controller/EventController.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/response/EventResponse.java
  api/api-event/src/main/java/com/pgms/apievent/event/service/EventService.java
  api/api-event/src/main/java/com/pgms/apievent/exception/CustomException.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventErrorCode.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventGlobalExceptionHandler.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/Event.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventEdit.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventSeatArea.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/repository/EventRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/response/ErrorResponse.java
Labels: feature, event

#23 feat: 공연장 기능 추가
  api/api-event/src/main/java/com/pgms/apievent/event/service/EventService.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/controller/EventHallController.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/dto/request/EventHallCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/dto/request/EventHallSeatCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/dto/request/EventHallUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/dto/response/EventHallResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/dto/response/EventHallSeatResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/service/EventHallService.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventErrorCode.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventGlobalExceptionHandler.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventHallNotFoundException.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventHall.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventHallEdit.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventHallSeat.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/repository/EventHallRepository.java
Labels: feature, event

#29 feat: 공연 DTO & Service 관련 Validation 추가 및 테스트 코드 추가
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/response/EventResponse.java
  api/api-event/src/test/java/com/pgms/apievent/event/service/EventServiceTest.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/GenreType.java
Labels: feature, event

#28 feat: 공연장 dto, service validation 추가
  api/api-event/src/main/java/com/pgms/apievent/eventHall/controller/EventHallController.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/dto/request/EventHallCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/dto/request/EventHallSeatCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/dto/request/EventHallUpdateRequest.java
  api/api-event/src/test/java/com/pgms/apievent/eventHall/service/EventHallServiceTest.java
  build.gradle
Labels: feature, event

#26 feat: 슈퍼관리자 기본 기능 구현
  api/api-member/src/main/java/com/pgms/apimember/controller/AdminController.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/AdminCreateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/AdminUpdateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/PageCondition.java
  api/api-member/src/main/java/com/pgms/apimember/dto/response/AdminGetResponse.java
  api/api-member/src/main/java/com/pgms/apimember/dto/response/MemberDetailGetResponse.java
  api/api-member/src/main/java/com/pgms/apimember/dto/response/MemberSummaryGetResponse.java
  api/api-member/src/main/java/com/pgms/apimember/exception/AdminException.java
  api/api-member/src/main/java/com/pgms/apimember/exception/CustomErrorCode.java
  api/api-member/src/main/java/com/pgms/apimember/exception/CustomException.java
  api/api-member/src/main/java/com/pgms/apimember/exception/GlobalExceptionHandler.java
  api/api-member/src/main/java/com/pgms/apimember/exception/MemberException.java
  api/api-member/src/main/java/com/pgms/apimember/service/AdminService.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/AccountBaseEntity.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Admin.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/AdminRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/MemberRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/RoleRepository.java
Labels: feature, member

#19 feat: 결제 생성/승인 요청 성공 기능 구현
  api/api-booking/build.gradle
  api/api-booking/src/main/java/com/pgms/apibooking/config/TossPaymentConfig.java
  api/api-booking/src/main/java/com/pgms/apibooking/controller/PaymentController.java
  api/api-booking/src/main/java/com/pgms/apibooking/controller/ViewController.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/PaymentConfirmRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/PaymentCreateRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/PaymentCreateResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/PaymentSuccessCardResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/PaymentSuccessResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/PaymentService.java
  api/api-booking/src/main/resources/application.yml
  api/api-booking/src/main/resources/templates/payments.html
  api/api-event/src/main/java/com/pgms/apievent/eventHall/dto/response/EventHallResponse.java
  api/api-order/src/main/java/com/pgms/apipayment/config/TossPaymentConfig.java
  api/api-order/src/main/resources/templates/payments.html
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Booking.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Payment.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/repository/BookingRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/repository/PaymentRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventHallEdit.java
Labels: feature, booking

#34 feat: 공연 회차 CRUD 구현
  api/api-event/src/main/java/com/pgms/apievent/event/controller/EventController.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/controller/EventTimeController.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/dto/request/EventTimeCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/dto/request/EventTimeUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/dto/response/EventTimeResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/service/EventTimeService.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventErrorCode.java
  api/api-event/src/test/java/com/pgms/apievent/event/service/EventServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/eventHall/service/EventHallServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/eventtime/service/EventTimeServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/factory/event/EventFactory.java
  api/api-event/src/test/java/com/pgms/apievent/factory/eventhall/EventHallFactory.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventTime.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/repository/EventTimeRepository.java
Labels: feature, event

#37 revert: "feat: 공연 회차 CRUD 구현"
  api/api-event/src/main/java/com/pgms/apievent/event/controller/EventController.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/controller/EventTimeController.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/dto/request/EventTimeCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/dto/request/EventTimeUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/dto/response/EventTimeResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/service/EventTimeService.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventErrorCode.java
  api/api-event/src/test/java/com/pgms/apievent/event/service/EventServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/eventHall/service/EventHallServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/eventtime/service/EventTimeServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/factory/event/EventFactory.java
  api/api-event/src/test/java/com/pgms/apievent/factory/eventhall/EventHallFactory.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventTime.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/repository/EventTimeRepository.java
Labels: fix, event

#42 feat: 결제 생성/승인 요청 성공 기능 구현
  api/api-booking/build.gradle
  api/api-booking/src/main/java/com/pgms/apibooking/config/TossPaymentConfig.java
  api/api-booking/src/main/java/com/pgms/apibooking/controller/PaymentController.java
  api/api-booking/src/main/java/com/pgms/apibooking/controller/ViewController.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/PaymentConfirmRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/PaymentCreateRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/PaymentCreateResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/PaymentSuccessCardResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/PaymentSuccessResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/PaymentService.java
  api/api-booking/src/main/resources/application.yml
  api/api-booking/src/main/resources/templates/payments.html
  api/api-event/src/main/java/com/pgms/apievent/eventHall/dto/response/EventHallResponse.java
  api/api-order/src/main/java/com/pgms/apipayment/config/TossPaymentConfig.java
  api/api-order/src/main/resources/templates/payments.html
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Booking.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Payment.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/repository/BookingRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/repository/PaymentRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventHallEdit.java
Labels: feature, booking

#44 feat: 공연 Seat Area CRUD 구현
  api/api-event/src/main/java/com/pgms/apievent/event/controller/EventController.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventSeatAreaCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventSeatAreaUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/response/EventSeatAreaResponse.java
  api/api-event/src/main/java/com/pgms/apievent/event/service/EventService.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/dto/request/EventTimeCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventErrorCode.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventSeatAreaNotFoundException.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventSeatArea.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/repository/EventSeatAreaRepository.java
Labels: feature, event

#46 feat: 공연 후기 CRUD 및 별점 관리 구현
  api/api-event/src/main/java/com/pgms/apievent/eventreview/controller/EventReviewController.java
  api/api-event/src/main/java/com/pgms/apievent/eventreview/dto/request/EventReviewCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventreview/dto/request/EventReviewUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventreview/dto/response/EventReviewResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventreview/service/EventReviewService.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventErrorCode.java
  api/api-event/src/test/java/com/pgms/apievent/eventreview/service/EventReviewServiceTest.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/Event.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventReview.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/repository/EventReviewRepository.java
Labels: feature, event

#47 feat: 좌석 선택 / 선택 해제 기능 구현
  api/api-booking/build.gradle
  api/api-booking/docker-compose.yml
  api/api-booking/src/main/java/com/pgms/apibooking/config/RedisConfig.java
  api/api-booking/src/main/java/com/pgms/apibooking/controller/SeatController.java
  api/api-booking/src/main/java/com/pgms/apibooking/exception/BookingErrorCode.java
  api/api-booking/src/main/java/com/pgms/apibooking/exception/BookingExceptionHandler.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/SeatLockService.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/SeatService.java
  api/api-order/src/main/java/com/pgms/apipayment/config/TossPaymentConfig.java
  api/api-order/src/main/resources/templates/payments.html
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventSeat.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventSeatStatus.java
Labels: feature, booking

#51 feat: 결제 실패 처리 기능 구현
  api/api-booking/src/main/java/com/pgms/apibooking/controller/PaymentController.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/PaymentCreateRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/PaymentFailResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/PaymentService.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Booking.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Payment.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/PaymentStatus.java
Labels: feature, booking

#54 feat: 공연으로 회차 전체 조회 & 공연 후기 테스트 코드 작성
  api/api-event/src/main/java/com/pgms/apievent/event/dto/response/EventResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/controller/EventTimeController.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/service/EventTimeService.java
  api/api-event/src/test/java/com/pgms/apievent/eventreview/service/EventReviewServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/eventtime/service/EventTimeServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/factory/eventreview/EventReviewFactory.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventReview.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/repository/EventTimeRepository.java
Labels: feature, event

#57 refactor: 결제 기능 validation, exception 처리 추가
  api/api-booking/src/main/java/com/pgms/apibooking/controller/PaymentController.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/PaymentConfirmRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/PaymentCreateRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/exception/BookingErrorCode.java
  api/api-booking/src/main/java/com/pgms/apibooking/exception/BookingExceptionHandler.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/PaymentService.java
Labels: refactor, booking

#55 feat: 공연 좌석 CRUD 구현
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/AreaResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/SeatService.java
  api/api-event/src/main/java/com/pgms/apievent/event/controller/EventController.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventSeatsCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/response/EventSeatResponse.java
  api/api-event/src/main/java/com/pgms/apievent/event/service/EventService.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventSeat.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventSeatArea.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/repository/EventSeatRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/repository/EventTimeRepository.java
Labels: feature, event

#36 feat: 슈퍼관리자 역할 CRUD 기능 구현
  api/api-member/src/main/java/com/pgms/apimember/controller/RoleController.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/RoleCreateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/RoleUpdateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/response/RoleGetResponse.java
  api/api-member/src/main/java/com/pgms/apimember/exception/CustomErrorCode.java
  api/api-member/src/main/java/com/pgms/apimember/service/RoleService.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Role.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/RoleRepository.java
Labels: feature, member

#58 feat: 권한 CRUD 및 역할별 권한 관리
  api/api-member/src/main/java/com/pgms/apimember/controller/PermissionController.java
  api/api-member/src/main/java/com/pgms/apimember/controller/RoleController.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/PermissionCreateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/PermissionUpdateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/response/PermissionGetResponse.java
  api/api-member/src/main/java/com/pgms/apimember/exception/CustomErrorCode.java
  api/api-member/src/main/java/com/pgms/apimember/service/PermissionService.java
  api/api-member/src/main/java/com/pgms/apimember/service/RoleService.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Permission.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Role.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/RolePermission.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/PermissionRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/RolePermissionRepository.java
Labels: feature, member

#61 feat: 공연 좌석 동적 쿼리 추가
  api/api-event/build.gradle
  api/api-event/src/main/java/com/pgms/apievent/event/controller/EventController.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventSeatsCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/service/EventService.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/controller/EventSeatController.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/dto/LeftEventSeatNumDto.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/dto/request/EventSeatsCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/dto/response/EventSeatResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/dto/response/LeftEventSeatResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/repository/EventSeatCustomRepository.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/repository/EventSeatCustomRepositoryImpl.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/service/EventSeatService.java
  build.gradle
  core/core-domain/build.gradle
  core/core-infra/build.gradle
  core/core-infra/src/main/java/com/pgms/coreinfra/config/QueryDslConfig.java
Labels: feature, event

#65 refactor: validation 추가 및 메소드명 수정
  api/api-member/src/main/java/com/pgms/apimember/controller/RoleController.java
  api/api-member/src/main/java/com/pgms/apimember/exception/CustomErrorCode.java
  api/api-member/src/main/java/com/pgms/apimember/service/RoleService.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Role.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/AdminRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/MemberRepository.java
Labels: refactor, member

#66 feat: 예매 정보 생성 기능 구현
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/DeliveryAddress.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/PaymentCreateRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/PaymentCreateResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/PaymentSuccessResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/exception/BookingErrorCode.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/PaymentService.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/SeatService.java
  api/api-booking/src/main/resources/templates/payments.html
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/service/EventService.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/service/EventSeatService.java
  api/api-event/src/test/java/com/pgms/apievent/event/service/EventServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/factory/event/EventFactory.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Booking.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Payment.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/repository/BookingRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/repository/PaymentRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/Event.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventEdit.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/Ticket.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/repository/EventSeatRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/repository/EventTimeRepository.java
Labels: feature, booking

#68 feat: Role 관련 fetch join 메서드 작성
  api/api-member/src/main/java/com/pgms/apimember/controller/AdminController.java
  api/api-member/src/main/java/com/pgms/apimember/service/AdminService.java
  api/api-member/src/main/resources/application.yml
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/AdminRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/MemberRepository.java
Labels: feature, member

#71 feat: data.sql 추가
  api/api-event/src/test/java/com/pgms/apievent/event/service/EventServiceTest.java
  core/core-infra/src/main/resources/application-infra.yml
  core/core-infra/src/main/resources/data.sql
Labels: feature

#81 refactor: 결제 생성 리팩터링
  api/api-booking/src/main/java/com/pgms/apibooking/config/TossPaymentConfig.java
  api/api-booking/src/main/java/com/pgms/apibooking/controller/BookingController.java
  api/api-booking/src/main/java/com/pgms/apibooking/controller/PaymentController.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/BookingCreateRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/PaymentCreateRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/BookingCreateResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/PaymentCreateResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/PaymentService.java
  api/api-booking/src/main/resources/application.yml
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Booking.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Payment.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/Ticket.java
Labels: refactor, booking

#78 test: 공연 좌석 테스트 코드 추가
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/controller/EventSeatController.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/dto/LeftEventSeatNumDto.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/dto/request/EventSeatsCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/dto/response/LeftEventSeatResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/repository/EventSeatCustomRepositoryImpl.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/service/EventSeatService.java
  api/api-event/src/test/java/com/pgms/apievent/eventSeat/service/EventSeatServiceTest.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/repository/EventSeatRepository.java
Labels: event, test

#79 feat: 공연 이미지 관리 기능 구현
  api/api-event/build.gradle
  api/api-event/src/main/java/com/pgms/apievent/config/S3Config.java
  api/api-event/src/main/java/com/pgms/apievent/event/controller/EventController.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/response/EventResponse.java
  api/api-event/src/main/java/com/pgms/apievent/event/service/EventService.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/controller/EventSeatController.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/repository/EventSeatCustomRepositoryImpl.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/service/EventSeatService.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/dto/response/EventTimeResponse.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventErrorCode.java
  api/api-event/src/main/java/com/pgms/apievent/image/controller/EventImageController.java
  api/api-event/src/main/java/com/pgms/apievent/image/dto/request/EventImageCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/image/dto/request/ThumbnailCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/image/dto/request/ThumbnailUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/image/service/EventImageService.java
  api/api-event/src/main/java/com/pgms/apievent/image/service/S3Service.java
  api/api-event/src/main/java/com/pgms/apievent/util/ImageUtil.java
  api/api-event/src/main/resources/application.yml
  api/api-event/src/test/java/com/pgms/apievent/event/service/EventServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/eventtime/service/EventTimeServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/factory/event/EventFactory.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/Event.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventEdit.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventImage.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventTime.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/repository/EventImageRepository.java
  core/core-infra/src/main/resources/data.sql
Labels: feature, event

#87 feat: 예매 취소 기능 구현
  api/api-booking/src/main/java/com/pgms/apibooking/controller/BookingController.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/BookingCancelRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/BookingCreateRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/PaymentCancelRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/BookingCreateResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/exception/BookingErrorCode.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/PaymentService.java
  api/api-booking/src/main/resources/templates/payments.html
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Booking.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/BookingCancel.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/BookingStatus.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Payment.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/PaymentMethod.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/PaymentStatus.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/ReceiptType.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/repository/BookingRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/Event.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventTime.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/Ticket.java
  core/core-infra/src/main/resources/data.sql
Labels: feature, booking

#86 feat: 가상 계좌 결제 승인/결제 취소 기능 구현
  api/api-booking/src/main/java/com/pgms/apibooking/controller/BookingController.java
  api/api-booking/src/main/java/com/pgms/apibooking/controller/PaymentController.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/BookingCancelRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/BookingCreateRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/PaymentCancelRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/RefundAccountRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/BookingCreateResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/PaymentCancelResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/PaymentCardResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/PaymentSuccessResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/PaymentVirtualResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/RefundAccountResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/PaymentService.java
  api/api-booking/src/main/java/com/pgms/apibooking/util/DateTimeUtil.java
  api/api-booking/src/main/resources/templates/payments.html
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/BankCode.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Payment.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/PaymentMethod.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/PaymentStatus.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/repository/EventSeatRepository.java
  core/core-infra/src/main/resources/data.sql
Labels: feature, booking
