Repository Team-BingBong/BE-05-Bingterpark, pull requests merged in 2024-01, with the labels that each got.

#91 feat: 회원 CRUD 기능 추가
  api/api-member/src/main/java/com/pgms/apimember/controller/MemberController.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/MemberInfoUpdateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/MemberPasswordUpdateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/MemberPasswordVerifyRequest.java
  api/api-member/src/main/java/com/pgms/apimember/exception/CustomErrorCode.java
  api/api-member/src/main/java/com/pgms/apimember/service/AdminService.java
  api/api-member/src/main/java/com/pgms/apimember/service/MemberService.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Member.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/MemberRepository.java
Labels: feature, member

#93 feat: Spring Data ElasticSearch 세팅 및 저장 로직 구현
  api/api-event/build.gradle
  api/api-event/docker-compose.yml
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/response/EventResponse.java
  api/api-event/src/main/java/com/pgms/apievent/event/service/EventService.java
  api/api-event/src/test/java/com/pgms/apievent/ApiEventApplicationTests.java
  api/api-event/src/test/java/com/pgms/apievent/EventTestConfig.java
  api/api-event/src/test/java/com/pgms/apievent/event/service/EventServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/eventHall/service/EventHallServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/eventSeat/service/EventSeatServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/eventreview/service/EventReviewServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/eventtime/service/EventTimeServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/factory/event/EventFactory.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/Event.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventEdit.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/GenreType.java
  core/core-infra-es/build.gradle
  core/core-infra-es/gradle/wrapper/gradle-wrapper.jar
  core/core-infra-es/gradle/wrapper/gradle-wrapper.properties
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/CoreInfraEsApplication.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/config/ElasticSearchConfig.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/document/EventDocument.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/repository/EventSearchQueryRepository.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/repository/EventSearchRepository.java
  core/core-infra-es/src/main/resources/application-es.yml
  core/core-infra-es/src/main/resources/es/event-mapping.json
  core/core-infra-es/src/main/resources/es/event-setting.json
  core/core-infra-es/src/test/java/com/pgms/coreinfraes/CoreInfraEsApplicationTests.java
  core/core-infra/src/main/resources/application-infra.yml
  settings.gradle
Labels: feature, event

#94 test: 카드 결제 테스트코드 작성 & 결제 프론트엔드 구현
  api/api-booking/src/main/java/com/pgms/apibooking/config/RestTemplateConfig.java
  api/api-booking/src/main/java/com/pgms/apibooking/controller/ViewController.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/BookingCreateResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/PaymentService.java
  api/api-booking/src/main/resources/templates/booking_input.html
  api/api-booking/src/main/resources/templates/payments.html
  api/api-booking/src/test/java/com/pgms/apibooking/service/PaymentServiceTest.java
  core/core-infra/src/main/resources/data.sql
Labels: booking, test

#95 feat: jwt 설정 추가, jwt 토큰 발급 기능 구현
  api/api-member/build.gradle
  api/api-member/src/main/java/com/pgms/apimember/controller/AuthController.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/LoginRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/response/LoginResponse.java
  api/api-member/src/main/java/com/pgms/apimember/security/WebSecurityConfig.java
  api/api-member/src/main/java/com/pgms/apimember/security/jwt/JwtAuthenticationEntryPoint.java
  api/api-member/src/main/java/com/pgms/apimember/security/jwt/JwtAuthenticationFilter.java
  api/api-member/src/main/java/com/pgms/apimember/security/jwt/JwtUtils.java
  api/api-member/src/main/java/com/pgms/apimember/security/service/UserDetailsImpl.java
  api/api-member/src/main/java/com/pgms/apimember/security/service/UserDetailsServiceImpl.java
  api/api-member/src/main/java/com/pgms/apimember/service/AuthService.java
  api/api-member/src/main/resources/application.yml
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Member.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/AdminRepository.java
Labels: feature, member

#99 feat: elastic search 장르별 검색 기능 구현
  api/api-event/http/test.http
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/controller/EventSearchController.java
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/service/EventSearchService.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/dto/request/EventSearchRequest.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/repository/EventSearchQueryRepository.java
Labels: feature, event

#102 feat: 공연 검색 기능 구현
  api/api-event/http/test.http
  api/api-event/src/main/java/com/pgms/apievent/common/dto/request/PageRequestDto.java
  api/api-event/src/main/java/com/pgms/apievent/common/dto/response/PageResponseDto.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/service/EventService.java
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/controller/EventSearchController.java
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/dto/request/EventSearchRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/dto/response/EventDocumentResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/service/EventSearchService.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/document/EventDocument.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/dto/EventSearchDto.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/dto/request/EventSearchRequest.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/repository/EventSearchQueryRepository.java
Labels: feature, event

#107 feat: Batch 모듈 추가 및 계정 잠금 기능 추가
  batch/batch-member/build.gradle
  batch/batch-member/gradle/wrapper/gradle-wrapper.jar
  batch/batch-member/gradle/wrapper/gradle-wrapper.properties
  batch/batch-member/src/main/java/com/pgms/memberbatch/BatchMemberApplication.java
  batch/batch-member/src/main/java/com/pgms/memberbatch/admin/LockAdminConfig.java
  batch/batch-member/src/main/java/com/pgms/memberbatch/admin/LockAdminScheduler.java
  batch/batch-member/src/main/resources/application.yml
  batch/batch-member/src/test/java/com/pgms/memberbatch/BatchMemberApplicationTests.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Admin.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/AdminRepository.java
  core/core-infra/src/main/resources/data.sql
  settings.gradle
Labels: feature, member

#109 fix: security 모듈 이동
  api/api-booking/src/main/resources/application.yml
  api/api-event/src/main/resources/application.yml
  api/api-member/build.gradle
  api/api-member/src/main/java/com/pgms/apimember/service/AuthService.java
  api/api-member/src/main/resources/application.yml
  core/core-security/build.gradle
  core/core-security/src/main/java/com/pgms/coresecurity/CoreSecurityConfig.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/config/WebSecurityConfig.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/JwtAuthenticationEntryPoint.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/JwtAuthenticationFilter.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/JwtUtils.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/UserDetailsImpl.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/UserDetailsServiceImpl.java
  core/core-security/src/main/resources/application.yml
Labels: fix, member

#112 refactor: 결제 외부 api 서비스 로직 분리
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/BookingCreateRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/BookingCreateResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/PaymentService.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/TossPaymentService.java
  api/api-booking/src/main/resources/templates/booking_input.html
  api/api-booking/src/test/java/com/pgms/apibooking/service/PaymentServiceTest.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Payment.java
Labels: refactor, booking

#116 feat: 엘라스틱 서치 벌크 연산 추가
  api/api-event/http/test.http
  api/api-event/src/main/java/com/pgms/apievent/ApiEventApplication.java
  api/api-event/src/main/java/com/pgms/apievent/event/controller/EventController.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/service/EventService.java
  api/api-event/src/main/java/com/pgms/apievent/scheduler/EventDocumentScheduler.java
  api/api-event/src/main/resources/application.yml
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/buffer/DocumentBuffer.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/document/EventDocument.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/repository/EventSearchQueryRepository.java
Labels: feature, event

#115 feat: 역할별 접근 제어, 현재 로그인한 계정 정보 추가
  api/api-member/build.gradle
  api/api-member/src/main/java/com/pgms/apimember/controller/AdminController.java
  api/api-member/src/main/java/com/pgms/apimember/controller/AdminManagementController.java
  api/api-member/src/main/java/com/pgms/apimember/controller/MemberController.java
  api/api-member/src/main/java/com/pgms/apimember/controller/PermissionController.java
  api/api-member/src/main/java/com/pgms/apimember/controller/RoleController.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/config/WebMvcConfig.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/config/WebSecurityConfig.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/JwtUtils.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/resolver/CurrentAccount.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/resolver/CurrentAccountArgumentResolver.java
Labels: feature, member

#121 feat: 엘라스틱 서치 검색 쿼리 필터 추가
  api/api-event/http/test.http
  api/api-event/src/main/java/com/pgms/apievent/common/dto/request/PageRequestDto.java
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/dto/request/EventKeywordSearchRequest.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/dto/EventKeywordSearchDto.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/repository/EventSearchQueryRepository.java
Labels: feature, event

#119 feat: 카카오 OAuth 로그인 기능 구현
  api/api-booking/src/main/resources/application.yml
  api/api-event/src/main/resources/application.yml
  api/api-member/build.gradle
  api/api-member/src/main/java/com/pgms/apimember/controller/web/OAuthController.java
  api/api-member/src/main/resources/application.yml
  api/api-member/src/main/resources/templates/login.html
  batch/batch-member/build.gradle
  batch/batch-member/src/main/resources/application.yml
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/AccountBaseEntity.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Member.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/enums/Provider.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/MemberRepository.java
  core/core-infra/src/main/resources/data.sql
  core/core-security/build.gradle
  core/core-security/src/main/java/com/pgms/coresecurity/security/config/WebSecurityConfig.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/OAuth2AuthenticationSuccessHandler.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/OAuth2UserService.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/UserDetailsImpl.java
  core/core-security/src/main/resources/application-security.yml
  core/core-security/src/main/resources/application.yml
Labels: feature, member

#123 test: 예매 서비스 레이어 통합 테스트 작성
  api/api-booking/src/main/java/com/pgms/apibooking/controller/BookingController.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/BookingCancelRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/BookingCreateRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/PaymentCancelRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/response/PaymentCancelResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/exception/BookingErrorCode.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/PaymentService.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/TossPaymentService.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/TossPaymentServiceImpl.java
  api/api-booking/src/test/java/com/pgms/apibooking/config/TestConfig.java
  api/api-booking/src/test/java/com/pgms/apibooking/factory/BookingFactory.java
  api/api-booking/src/test/java/com/pgms/apibooking/factory/EventFactory.java
  api/api-booking/src/test/java/com/pgms/apibooking/factory/EventHallFactory.java
  api/api-booking/src/test/java/com/pgms/apibooking/factory/EventSeatAreaFactory.java
  api/api-booking/src/test/java/com/pgms/apibooking/factory/EventSeatFactory.java
  api/api-booking/src/test/java/com/pgms/apibooking/factory/EventTimeFactory.java
  api/api-booking/src/test/java/com/pgms/apibooking/factory/PaymentFactory.java
  api/api-booking/src/test/java/com/pgms/apibooking/factory/TicketFactory.java
  api/api-booking/src/test/java/com/pgms/apibooking/fake/TossPaymentServiceFake.java
  api/api-booking/src/test/java/com/pgms/apibooking/service/BookingServiceTest.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Booking.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Payment.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/ReceiptType.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Ticket.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/repository/BookingRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/repository/TicketRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventSeatArea.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventTime.java
  core/core-infra/src/main/resources/data.sql
Labels: booking, test

#124 feat: 가상 계좌 웹훅 연동
  api/api-booking/src/main/java/com/pgms/apibooking/controller/PaymentController.java
  api/api-booking/src/main/java/com/pgms/apibooking/dto/request/ConfirmVirtualIncomeRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/exception/BookingErrorCode.java
  api/api-booking/src/main/java/com/pgms/apibooking/service/PaymentService.java
  api/api-booking/src/main/java/com/pgms/apibooking/util/DateTimeUtil.java
  api/api-booking/src/test/java/com/pgms/apibooking/service/PaymentServiceTest.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Payment.java
Labels: feature, booking

#127 feat: 비밀번호 암호화 적용
  api/api-member/src/main/java/com/pgms/apimember/service/AdminService.java
  api/api-member/src/main/java/com/pgms/apimember/service/MemberService.java
Labels: feature, member

#137 fix: @param 어노테이션 추가
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/AdminRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/MemberRepository.java
Labels: fix, member

#139 feat: 통합 로그인 기능 구현
  api/api-member/http/test.http
  api/api-member/src/main/java/com/pgms/apimember/controller/AuthController.java
  api/api-member/src/main/java/com/pgms/apimember/controller/MemberController.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/AdminCreateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/AdminUpdateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/MemberInfoUpdateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/MemberSignUpRequest.java
  api/api-member/src/main/java/com/pgms/apimember/service/AuthService.java
  api/api-member/src/main/java/com/pgms/apimember/service/MemberService.java
  api/api-member/src/main/resources/templates/login.html
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Member.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/enums/Provider.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/MemberRepository.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/config/WebSecurityConfig.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/AdminUserDetailsService.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/CustomAuthenticationProvider.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/MemberUserDetailsService.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/OAuth2AuthenticationSuccessHandler.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/util/HttpResponseUtil.java
Labels: feature, member

#138 feat: 공연 목록 조회 구현(Querydsl) 및 MySQL 설정
  .gitignore
  api/api-event/http/test.http
  api/api-event/src/main/java/com/pgms/apievent/event/controller/EventController.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventPageRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventSeatAreaCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/response/EventSeatAreaResponse.java
  api/api-event/src/main/java/com/pgms/apievent/event/repository/EventCustomRepository.java
  api/api-event/src/main/java/com/pgms/apievent/event/repository/EventCustomRepositoryImpl.java
  api/api-event/src/main/java/com/pgms/apievent/event/service/EventService.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeatArea/controller/EventSeatAreaController.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeatArea/dto/request/EventSeatAreaCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeatArea/dto/request/EventSeatAreaUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeatArea/dto/response/EventSeatAreaResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeatArea/service/EventSeatAreaService.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/GenreType.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/repository/EventSearchQueryRepository.java
  core/core-infra/src/main/resources/application-infra.yml
  core/core-infra/src/main/resources/data.sql
  docker-compose.yml
Labels: feature, event

#142 refactor: 회원 도메인 연동
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/controller/BookingController.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/exception/BookingErrorCode.java
  api/api-booking/src/test/java/com/pgms/apibooking/service/BookingServiceTest.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Booking.java
Labels: refactor, booking

#143 feat: Refresh Token 구현
  api/api-member/build.gradle
  api/api-member/http/test.http
  api/api-member/src/main/java/com/pgms/apimember/controller/AuthController.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/RefreshTokenRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/response/AuthResponse.java
  api/api-member/src/main/java/com/pgms/apimember/dto/response/LoginResponse.java
  api/api-member/src/main/java/com/pgms/apimember/exception/CustomErrorCode.java
  api/api-member/src/main/java/com/pgms/apimember/exception/SecurityException.java
  api/api-member/src/main/java/com/pgms/apimember/redis/RedisConfig.java
  api/api-member/src/main/java/com/pgms/apimember/redis/RefreshToken.java
  api/api-member/src/main/java/com/pgms/apimember/redis/RefreshTokenRepository.java
  api/api-member/src/main/java/com/pgms/apimember/service/AuthService.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/JwtAuthenticationEntryPoint.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/JwtAuthenticationFilter.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/JwtTokenProvider.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/OAuth2AuthenticationSuccessHandler.java
  core/core-security/src/main/resources/application-security.yml
Labels: feature, member

#146 fix: Role 도메인 삭제, enum으로 변경
  api/api-booking/src/test/java/com/pgms/apibooking/service/BookingServiceTest.java
  api/api-member/src/main/java/com/pgms/apimember/controller/AdminManagementController.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/AdminCreateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/AdminUpdateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/MemberSignUpRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/PermissionCreateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/PermissionUpdateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/RoleCreateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/RoleUpdateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/response/AdminGetResponse.java
  api/api-member/src/main/java/com/pgms/apimember/dto/response/MemberDetailGetResponse.java
  api/api-member/src/main/java/com/pgms/apimember/dto/response/PermissionGetResponse.java
  api/api-member/src/main/java/com/pgms/apimember/dto/response/RoleGetResponse.java
  api/api-member/src/main/java/com/pgms/apimember/service/AdminService.java
  api/api-member/src/main/java/com/pgms/apimember/service/AuthService.java
  api/api-member/src/main/java/com/pgms/apimember/service/MemberService.java
  api/api-member/src/main/java/com/pgms/apimember/service/PermissionService.java
  api/api-member/src/main/java/com/pgms/apimember/service/RoleService.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Admin.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Member.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Permission.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Role.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/RolePermission.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/enums/Role.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/AdminRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/MemberRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/PermissionRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/RolePermissionRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/RoleRepository.java
  core/core-infra/src/main/resources/data.sql
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/OAuth2AuthenticationSuccessHandler.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/UserDetailsImpl.java
Labels: fix, member

#145 test: 공연 도메인 테스트용 http 파일 작성 및 테스트 코드 수정 & 추가
  api/api-event/http/event-review.http
  api/api-event/http/event-search.http
  api/api-event/http/event-time.http
  api/api-event/http/event.http
  api/api-event/src/test/java/com/pgms/apievent/event/service/EventServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/eventHall/service/EventHallServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/eventSeat/service/EventSeatServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/eventreview/service/EventReviewServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/eventtime/service/EventTimeServiceTest.java
Labels: event, test

#150 feat: 대기열 구축
  api/api-booking/build.gradle
  api/api-booking/src/main/java/com/pgms/apibooking/common/exception/BookingAuthEntryPoint.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/exception/BookingErrorCode.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/exception/BookingException.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/exception/BookingExceptionHandler.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/exception/BookingExceptionHandlerFilter.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/interceptor/BookingSessionInterceptor.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/jwt/BookingAuthToken.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/jwt/BookingJwtAuthFilter.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/jwt/BookingJwtPayload.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/jwt/BookingJwtProvider.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/util/DateTimeUtil.java
  api/api-booking/src/main/java/com/pgms/apibooking/config/JwtConfig.java
  api/api-booking/src/main/java/com/pgms/apibooking/config/SecurityConfig.java
  api/api-booking/src/main/java/com/pgms/apibooking/config/WebConfig.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/controller/BookingQueueController.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/dto/request/BookingQueueEnterRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/dto/request/BookingQueueExitRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/dto/request/TokenIssueRequest.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/dto/response/OrderInQueueGetResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/dto/response/SessionIdIssueResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/dto/response/TokenIssueResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/repository/BookingQueueRepository.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/service/BookingQueueService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/payment/service/PaymentService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/payment/service/TossPaymentServiceImpl.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/service/SeatService.java
  api/api-booking/src/main/resources/application.yml
  api/api-booking/src/test/java/com/pgms/apibooking/fake/TossPaymentServiceFake.java
  api/api-booking/src/test/java/com/pgms/apibooking/service/BookingServiceTest.java
Labels: feature, booking

#149 test: 멤버 도메인 test.http 파일 작성
  api/api-member/http/test.http
  api/api-member/src/main/java/com/pgms/apimember/dto/request/AdminCreateRequest.java
Labels: feature, member

#153 refactor: 공통 BaseErrorCode 정의
  api/api-member/src/main/java/com/pgms/apimember/exception/AdminException.java
  api/api-member/src/main/java/com/pgms/apimember/exception/CustomException.java
  api/api-member/src/main/java/com/pgms/apimember/exception/GlobalExceptionHandler.java
  api/api-member/src/main/java/com/pgms/apimember/exception/MemberException.java
  api/api-member/src/main/java/com/pgms/apimember/exception/SecurityException.java
  api/api-member/src/main/java/com/pgms/apimember/service/AdminService.java
  api/api-member/src/main/java/com/pgms/apimember/service/AuthService.java
  api/api-member/src/main/java/com/pgms/apimember/service/MemberService.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/common/BaseErrorCode.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/common/MemberErrorCode.java
Labels: feature, member

#155 fix: CustomException의 필드를 BaseErrorCode로 변경
  api/api-member/src/main/java/com/pgms/apimember/exception/CustomException.java
  api/api-member/src/main/java/com/pgms/apimember/exception/GlobalExceptionHandler.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/common/BaseErrorCode.java
Labels: fix, member

#157 feat: 이탈된 예매에 대한 좌석 상태 변경 배치
  api/api-booking/build.gradle
  api/api-booking/http/test.http
  api/api-booking/src/main/java/com/pgms/apibooking/config/SecurityConfig.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/controller/BookingController.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/controller/BookingQueueController.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/service/BookingQueueService.java
  batch/batch-booking/build.gradle
  batch/batch-booking/gradle/wrapper/gradle-wrapper.jar
  batch/batch-booking/gradle/wrapper/gradle-wrapper.properties
  batch/batch-booking/src/main/java/com/pgms/batchbooking/BatchBookingApplication.java
  batch/batch-booking/src/main/java/com/pgms/batchbooking/seat/SeatReleaseConfig.java
  batch/batch-booking/src/main/java/com/pgms/batchbooking/seat/SeatReleaseScheduler.java
  batch/batch-booking/src/main/java/com/pgms/batchbooking/seat/SeatReleaseTasklet.java
  batch/batch-booking/src/main/resources/application.yml
  batch/batch-booking/src/test/java/com/pgms/batchbooking/BatchBookingApplicationTests.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/repository/TicketRepository.java
  settings.gradle
Labels: feature, booking

#161 docs: 예매 http 작성
  api/api-booking/http/booking.http
  api/api-booking/src/main/java/com/pgms/apibooking/config/JwtConfig.java
  api/api-booking/src/main/java/com/pgms/apibooking/config/SecurityConfig.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/service/BookingService.java
  api/api-booking/src/main/resources/application.yml
  api/api-booking/src/main/resources/templates/booking_input.html
  core/core-infra/src/main/resources/data.sql
Labels: booking, docs

#159 refactor: security 모듈 CustomException 정의 및 ErrorCode 정리
  api/api-member/src/main/java/com/pgms/apimember/exception/GlobalExceptionHandler.java
  api/api-member/src/main/java/com/pgms/apimember/exception/SecurityException.java
  api/api-member/src/main/java/com/pgms/apimember/service/AuthService.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/common/GlobalErrorCode.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/common/MemberErrorCode.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/common/SecurityErrorCode.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/exception/SecurityCustomException.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/JwtAccessDeniedHandler.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/JwtAuthenticationEntryPoint.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/resolver/CurrentAccountArgumentResolver.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/AdminUserDetailsService.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/CustomAuthenticationProvider.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/MemberUserDetailsService.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/util/HttpResponseUtil.java
Labels: refactor, member

#167 feat: 실시간 검색 기능 구현
  api/api-event/build.gradle
  api/api-event/docker-compose.yml
  api/api-event/http/event-search.http
  api/api-event/http/event-time.http
  api/api-event/logstash/config/bingterpark.conf
  api/api-event/src/main/java/com/pgms/apievent/eventHall/controller/EventHallController.java
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/controller/EventSearchController.java
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/dto/request/EventSearchRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/dto/response/RecentTop10KeywordsResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/service/EventSearchService.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/controller/EventSeatController.java
  api/api-event/src/main/resources/application.yml
  api/api-event/src/main/resources/logback-spring.xml
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/document/AccessLogDocument.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/dto/EventSearchDto.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/dto/TopTenSearchResponse.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/repository/EventSearchQueryRepository.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/repository/EventSearchRepository.java
Labels: feature, event

#165 fix: booking security 설정 core로 이동
  api/api-booking/build.gradle
  api/api-booking/src/main/java/com/pgms/apibooking/common/exception/BookingAuthEntryPoint.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/exception/BookingException.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/exception/BookingExceptionHandler.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/interceptor/BookingSessionInterceptor.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/jwt/BookingJwtPayload.java
  api/api-booking/src/main/java/com/pgms/apibooking/config/SecurityConfig.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/service/BookingQueueService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/payment/service/PaymentService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/payment/service/TossPaymentServiceImpl.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/service/SeatService.java
  api/api-booking/src/main/resources/application.yml
  api/api-booking/src/test/java/com/pgms/apibooking/fake/TossPaymentServiceFake.java
  api/api-booking/src/test/java/com/pgms/apibooking/service/BookingServiceTest.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/common/BookingErrorCode.java
  core/core-security/build.gradle
  core/core-security/src/main/java/com/pgms/coresecurity/security/config/BookingJwtConfig.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/JwtTokenProvider.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/booking/BookingAuthToken.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/booking/BookingExceptionHandlerFilter.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/booking/BookingJwtAuthFilter.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/booking/BookingJwtPayload.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/booking/BookingJwtProvider.java
  core/core-security/src/main/resources/application-security.yml
Labels: fix, booking

#171 feat: .http 환경변수 env 파일 저장
  api/api-member/build.gradle
  api/api-member/http/test.http
  api/api-member/src/main/java/com/pgms/apimember/service/MemberService.java
  api/api-member/src/main/resources/application.yml
  core/core-infra/src/main/resources/data.sql
  core/core-infra/src/main/resources/http-client.private.env.json
  core/core-security/src/main/java/com/pgms/coresecurity/security/config/WebSecurityConfig.java
Labels: feature, member

#172 docs: http 문서 작성
  api/api-event/http/event-hall.http
  api/api-event/http/event-seat.http
  api/api-event/src/main/java/com/pgms/apievent/eventHall/dto/response/EventHallResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/service/EventHallService.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/controller/EventSeatController.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/dto/request/EventSeatsCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/dto/response/EventSeatResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/service/EventSeatService.java
  api/api-event/src/test/java/com/pgms/apievent/eventSeat/service/EventSeatServiceTest.java
Labels: docs

#174 refactor: 공연 도메인 예외처리 리팩토링
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/service/EventService.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/dto/request/EventHallCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/dto/request/EventHallSeatCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/dto/request/EventHallUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/dto/response/EventHallResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/dto/response/EventHallSeatResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/service/EventHallService.java
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/controller/EventSearchController.java
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/dto/request/EventKeywordSearchRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/dto/response/RecentTop10KeywordsResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/service/EventSearchService.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/dto/request/EventSeatsCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/dto/response/EventSeatResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/dto/response/LeftEventSeatResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/service/EventSeatService.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeatArea/controller/EventSeatAreaController.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeatArea/dto/request/EventSeatAreaCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeatArea/dto/request/EventSeatAreaUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeatArea/service/EventSeatAreaService.java
  api/api-event/src/main/java/com/pgms/apievent/eventreview/controller/EventReviewController.java
  api/api-event/src/main/java/com/pgms/apievent/eventreview/dto/request/EventReviewCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventreview/dto/response/EventReviewResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventreview/service/EventReviewService.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/dto/request/EventTimeCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/dto/request/EventTimeUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/dto/response/EventTimeResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/service/EventTimeService.java
  api/api-event/src/main/java/com/pgms/apievent/exception/CustomException.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventErrorCode.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventException.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventGlobalExceptionHandler.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventHallNotFoundException.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventSeatAreaNotFoundException.java
  api/api-event/src/main/java/com/pgms/apievent/image/service/EventImageService.java
  api/api-event/src/main/java/com/pgms/apievent/image/service/S3Service.java
  api/api-event/src/main/java/com/pgms/apievent/scheduler/EventDocumentScheduler.java
  api/api-event/src/main/java/com/pgms/apievent/util/ImageUtil.java
  api/api-event/src/test/java/com/pgms/apievent/eventSeat/service/EventSeatServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/eventtime/service/EventTimeServiceTest.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventSeatStatus.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/GenreType.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/SeatAreaType.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/buffer/DocumentBuffer.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/config/ElasticSearchConfig.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/document/AccessLogDocument.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/document/EventDocument.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/dto/EventDocumentResponse.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/dto/EventKeywordSearchDto.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/repository/EventSearchQueryRepository.java
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/repository/EventSearchRepository.java
Labels: refactor, event

#176 fix: #175 공연 목록 조회 - 랭킹순 쿼리 수정
  api/api-event/http/event.http
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/response/EventResponse.java
  api/api-event/src/main/java/com/pgms/apievent/event/repository/EventCustomRepositoryImpl.java
Labels: fix, event

#184 feat: 공연 후기 작성자(회원) 추가
  api/api-event/src/main/java/com/pgms/apievent/eventreview/controller/EventReviewController.java
  api/api-event/src/main/java/com/pgms/apievent/eventreview/dto/request/EventReviewCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventreview/service/EventReviewService.java
  api/api-event/src/test/java/com/pgms/apievent/eventreview/service/EventReviewServiceTest.java
  api/api-event/src/test/java/com/pgms/apievent/factory/eventreview/EventReviewFactory.java
  api/api-event/src/test/java/com/pgms/apievent/factory/member/MemberFactory.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventReview.java
Labels: feature, event

#186 refactor: 공연 도메인 validation 추가
  api/api-event/http/event-search.http
  api/api-event/http/event-time.http
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventPageRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/dto/request/EventHallCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/dto/request/EventHallUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/controller/EventSearchController.java
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/dto/request/EventKeywordSearchRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeatArea/controller/EventSeatAreaController.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeatArea/dto/request/EventSeatAreaCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeatArea/dto/request/EventSeatAreaUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/dto/request/EventTimeCreateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/dto/request/EventTimeUpdateRequest.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/dto/response/EventTimeResponse.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/service/EventTimeService.java
  api/api-event/src/test/java/com/pgms/apievent/eventtime/service/EventTimeServiceTest.java
Labels: refactor, event

#187 feat: 멤버 도메인 연동
  api/api-booking/src/main/java/com/pgms/apibooking/common/exception/BookingException.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/exception/BookingExceptionHandler.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/controller/BookingController.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/controller/SeatController.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/service/SeatLockService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/service/SeatService.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/common/BookingErrorCode.java
Labels: feature, booking

#190 fix: 공연장 좌석 읽어오지 못하는 오류 수정, 공연장 좌석-공연장 연관관계 설정 메소드 추가
  api/api-event/src/main/java/com/pgms/apievent/eventHall/service/EventHallService.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventHall.java
Labels: fix, event

#192 feat: 공연 후기 회원 검증 로직 추가
  api/api-event/src/main/java/com/pgms/apievent/eventreview/service/EventReviewService.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventErrorCode.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventReview.java
Labels: feature, event

#193 refactor: 예매 토큰 관리 security filter -> interceptor로 수정 & redis 예외 처리 Booking/180
  api/api-booking/build.gradle
  api/api-booking/http/booking.http
  api/api-booking/src/main/java/com/pgms/apibooking/common/interceptor/BookingTokenInterceptor.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/jwt/BookingJwtPayload.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/jwt/BookingJwtProvider.java
  api/api-booking/src/main/java/com/pgms/apibooking/config/BookingJwtConfig.java
  api/api-booking/src/main/java/com/pgms/apibooking/config/WebConfig.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/controller/BookingController.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/repository/BookingQueueRepository.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/service/BookingQueueService.java
  api/api-booking/src/main/resources/application.yml
  api/api-booking/src/test/java/com/pgms/apibooking/service/BookingServiceTest.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/common/BookingErrorCode.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/booking/BookingAuthToken.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/booking/BookingExceptionHandlerFilter.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/booking/BookingJwtAuthFilter.java
  core/core-security/src/main/resources/application-security.yml
Labels: refactor, booking

#198 fix: seat 서비스 버그 수정
  api/api-booking/http/booking.http
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/service/SeatService.java
  api/api-booking/src/main/resources/templates/booking_input.html
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Booking.java
  core/core-infra/src/main/resources/data.sql
Labels: fix, booking

#199 feat: 검색 엔그램 적용
  api/api-event/http/event-search.http
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/controller/EventSearchController.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventErrorCode.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventGlobalExceptionHandler.java
Labels: feature, event

#200 docs: 통합테스트 http 파일 작성
  api/api-booking/http/booking.http
  api/api-booking/src/main/resources/application.yml
  api/api-event/src/main/java/com/pgms/apievent/event/repository/EventCustomRepositoryImpl.java
  http/bingterpark.http
Labels: docs

#201 feat: ngram 누락 파일 추가
  core/core-infra-es/src/main/java/com/pgms/coreinfraes/repository/EventSearchQueryRepository.java
  core/core-infra-es/src/main/resources/es/event-mapping.json
  core/core-infra-es/src/main/resources/es/event-setting.json
Labels: feature, event

#202 docs: Readme 파일 수정
  README.md
Labels: docs

#197 fix: booking, event 모듈 SecurityCustomException 예외처리
  api/api-booking/src/main/java/com/pgms/apibooking/common/exception/BookingExceptionHandler.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventGlobalExceptionHandler.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/resolver/CurrentAccountArgumentResolver.java
Labels: fix, member

#204 feat: 토스페이먼츠 예외 처리
  README.md
  api/api-booking/src/main/java/com/pgms/apibooking/common/exception/BookingExceptionHandler.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/exception/TossPaymentException.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/payment/service/TossPaymentServiceImpl.java
Labels: feature, booking

#207 fix: 좌석 목록 조회 응답 필드 수정
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/dto/response/AreaResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/dto/response/SeatResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/service/SeatService.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventSeat.java
  http/bingterpark.http
Labels: fix, booking

#203 feat: 계정 관련 예외처리
  api/api-booking/src/main/java/com/pgms/apibooking/config/RedisConfig.java
  api/api-member/http/test.http
  api/api-member/src/main/java/com/pgms/apimember/ApiMemberApplication.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/MemberInfoUpdateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/service/AdminService.java
  api/api-member/src/main/java/com/pgms/apimember/service/AuthService.java
  api/api-member/src/main/java/com/pgms/apimember/service/MemberService.java
  api/api-member/src/main/resources/templates/login.html
  core/core-domain/build.gradle
  core/core-domain/src/main/java/com/pgms/coredomain/CoreDomainConfig.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/common/MemberErrorCode.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Admin.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Member.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/enums/AccountStatus.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/redis/BlockedToken.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/redis/BlockedTokenRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/redis/RefreshToken.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/redis/RefreshTokenRepository.java
  core/core-infra/build.gradle
  core/core-infra/src/main/java/com/pgms/coreinfra/config/RedisConfig.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/config/WebMvcConfig.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/config/WebSecurityConfig.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/JwtTokenProvider.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/resolver/CurrentAccountArgumentResolver.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/AdminUserDetailsService.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/MemberUserDetailsService.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/UserDetailsImpl.java
Labels: feature, member

#216 feat: 공연 회차 시간 관련 검증 로직 구현
  api/api-event/src/main/java/com/pgms/apievent/eventtime/repository/EventTimeCustomRepository.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/repository/EventTimeCustomRepositoryImpl.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/service/EventTimeService.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventErrorCode.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/Event.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventTime.java
  http/bingterpark.http
Labels: feature, event

#217 fix: 키워드 검색 디폴트 값, enum 값 및 검증
  api/api-event/http/event-search.http
  api/api-event/http/event.http
  api/api-event/src/main/java/com/pgms/apievent/event/dto/request/EventPageRequest.java
  api/api-event/src/main/java/com/pgms/apievent/event/repository/EventCustomRepositoryImpl.java
  api/api-event/src/main/java/com/pgms/apievent/exception/EventGlobalExceptionHandler.java
  build.gradle
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/DateRangeType.java
Labels: fix, event

#218 feat: 내 예매 내역 상세 조회 시 카드사, cancel 내역 응답 필드 추가
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/dto/response/BookedSeatResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/dto/response/BookingCancelResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/dto/response/BookingGetResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/dto/response/PaymentCardResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/dto/response/PaymentVirtualAccountResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/payment/dto/response/PaymentCardResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/payment/dto/response/PaymentVirtualResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/payment/service/PaymentService.java
  api/api-booking/src/test/java/com/pgms/apibooking/fake/TossPaymentServiceFake.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/BookingCancel.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/BookingStatus.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/CardIssuer.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Payment.java
  core/core-infra/src/main/resources/data.sql
  http/bingterpark.http
Labels: feature, booking

#220 docs: 공연 도메인 swagger 추가
  api/api-event/src/main/java/com/pgms/apievent/event/controller/EventController.java
  api/api-event/src/main/java/com/pgms/apievent/eventHall/controller/EventHallController.java
  api/api-event/src/main/java/com/pgms/apievent/eventSearch/controller/EventSearchController.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeat/controller/EventSeatController.java
  api/api-event/src/main/java/com/pgms/apievent/eventSeatArea/controller/EventSeatAreaController.java
  api/api-event/src/main/java/com/pgms/apievent/eventreview/controller/EventReviewController.java
  api/api-event/src/main/java/com/pgms/apievent/eventtime/controller/EventTimeController.java
  api/api-event/src/main/java/com/pgms/apievent/image/controller/EventImageController.java
Labels: event, docs

#222 fix: WebSecurityConfig 수정, 커스텀 필터 로직 수정
  core/core-security/src/main/java/com/pgms/coresecurity/security/config/WebSecurityConfig.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/JwtAuthenticationEntryPoint.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/JwtAuthenticationFilter.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/jwt/JwtTokenProvider.java
Labels: fix, member

#223 chore: auto-ddl 제거
  core/core-infra/src/main/resources/application-infra.yml
  db/conf.d/schema.sql
  db/initdb.d/data.sql
  docker-compose.yml
  http/bingterpark.http
Labels: fix, event

#224 fix: 가상 계좌 결제 취소 오류 처리
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/payment/dto/request/PaymentCancelRequest.java
  api/api-booking/src/test/java/com/pgms/apibooking/fake/TossPaymentServiceFake.java
Labels: fix, booking

#225 feat: 전체 엔드포인트 권한 설정
  api/api-booking/http/booking.http
  api/api-event/http/event-hall.http
  api/api-event/http/event-review.http
  api/api-event/http/event-seat.http
  api/api-event/http/event-time.http
  api/api-event/http/event.http
  api/api-member/http/test.http
  core/core-security/src/main/java/com/pgms/coresecurity/security/config/WebSecurityConfig.java
Labels: feature, member

#226 fix: oauth 로그인시 refreshToken 정보 저장
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/CustomAuthenticationProvider.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/MemberUserDetailsService.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/OAuth2AuthenticationSuccessHandler.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/UserDetailsImpl.java
Labels: fix, member

#228 feat: 예매 생성 시 내가 선점한 좌석인지 검증하는 로직 추가 및 예매 토큰 인터셉터 버그 수정
  api/api-booking/http/booking.http
  api/api-booking/src/main/java/com/pgms/apibooking/config/WebConfig.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/controller/BookingController.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/controller/BookingQueueController.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/controller/SeatController.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/service/SeatLockService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/service/SeatService.java
  api/api-booking/src/test/java/com/pgms/apibooking/service/BookingServiceTest.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/CardIssuer.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/common/BookingErrorCode.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventSeatStatus.java
  http/bingterpark.http
  http/http-client.env.json
Labels: feature, booking

#229 feat: 회원 탈퇴 기능 개선
  api/api-member/build.gradle
  api/api-member/http/test.http
  api/api-member/src/main/java/com/pgms/apimember/controller/AuthController.java
  api/api-member/src/main/java/com/pgms/apimember/controller/MemberController.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/ConfirmRestoreRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/MemberRestoreRequest.java
  api/api-member/src/main/java/com/pgms/apimember/email/EmailConfig.java
  api/api-member/src/main/java/com/pgms/apimember/email/MailService.java
  api/api-member/src/main/java/com/pgms/apimember/service/AuthService.java
  api/api-member/src/main/java/com/pgms/apimember/service/MemberService.java
  api/api-member/src/main/resources/application.yml
  core/core-domain/src/main/java/com/pgms/coredomain/domain/common/MemberErrorCode.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Admin.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/redis/EmailVerifyCode.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/redis/EmailVerifyCodeRepository.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/repository/MemberRepository.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/config/WebSecurityConfig.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/AdminUserDetailsService.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/CustomAuthenticationProvider.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/service/MemberUserDetailsService.java
  core/core-security/src/main/resources/application-security.yml
Labels: feature, member

#235 docs: 예매 도메인 DDL, swagger 작성
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/controller/BookingController.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/controller/BookingQueueController.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/payment/controller/PaymentController.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/controller/SeatController.java
  db/conf.d/schema.sql
Labels: booking, docs

#236 refactor: 공연 도메인 ddl 컬럼 크기 조정
  README.md
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventHall.java
  core/core-infra/src/main/resources/application-infra.yml
  core/core-infra/src/main/resources/data.sql
  db/initdb.d/1-schema.sql
  db/initdb.d/2-data.sql
  docker-compose.yml
  http/bingterpark.http
  img.png
Labels: refactor, event

#237 docs: 회원 도메인 swagger 추가, ddl 컬럼 크기 조정
  api/api-member/src/main/java/com/pgms/apimember/controller/AdminController.java
  api/api-member/src/main/java/com/pgms/apimember/controller/AdminManagementController.java
  api/api-member/src/main/java/com/pgms/apimember/controller/AuthController.java
  api/api-member/src/main/java/com/pgms/apimember/controller/MemberController.java
  core/core-security/src/main/java/com/pgms/coresecurity/security/config/WebSecurityConfig.java
  db/initdb.d/1-schema.sql
  http/bingterpark.http
Labels: member, docs

#239 docs: DDL 수정, swagger 적용
  core/core-security/src/main/java/com/pgms/coresecurity/security/config/WebSecurityConfig.java
Labels: member, docs

#238 fix: 환불 계좌 정보 BookingCancel로 이동
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/payment/service/PaymentService.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/BookingCancel.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/Payment.java
  db/initdb.d/1-schema.sql
Labels: fix, booking

#240 chore: default authenticated 적용
  core/core-security/src/main/java/com/pgms/coresecurity/security/config/WebSecurityConfig.java
Labels: fix, member

#243 refactor: 공연 도메인 ddl 컬럼 수정 및 외래키 설정 수정
  db/initdb.d/1-schema.sql
  http/bingterpark.http
Labels: refactor, event

#244 refactor: seatService 리팩터링
  api/api-booking/http/booking.http
  api/api-booking/src/main/java/com/pgms/apibooking/common/exception/BookingExceptionHandler.java
  api/api-booking/src/main/java/com/pgms/apibooking/common/util/RedisOperator.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/repository/BookingQueueRepository.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/service/BookingQueueManager.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/service/BookingQueueService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/service/SeatLockManager.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/service/SeatLockService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/service/SeatService.java
  api/api-booking/src/test/java/com/pgms/apibooking/service/BookingServiceTest.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/common/BookingErrorCode.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/event/EventSeatStatus.java
  http/bingterpark.http
Labels: refactor, booking

#245 test: 결제 테스트코드 작성
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/payment/dto/response/PaymentCancelDetailResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/payment/dto/response/PaymentCancelResponse.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/payment/service/PaymentService.java
  api/api-booking/src/test/java/com/pgms/apibooking/fake/TossPaymentServiceFake.java
  api/api-booking/src/test/java/com/pgms/apibooking/service/BookingServiceTest.java
  api/api-booking/src/test/java/com/pgms/apibooking/service/PaymentServiceTest.java
Labels: test

#247 fix: 가상 계좌 취소 웹훅 오류 수정
  api/api-booking/src/main/java/com/pgms/apibooking/domain/payment/service/PaymentService.java
Labels: fix, booking

#248 fix: 좌석 선택 시 토큰 세션 아이디 기준으로 선점하도록 수정
  api/.DS_Store
  api/api-booking/http/booking.http
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/controller/BookingController.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/service/BookingQueueService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/controller/SeatController.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/service/SeatLockManager.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/service/SeatService.java
  api/api-booking/src/test/java/com/pgms/apibooking/service/BookingServiceTest.java
  core/core-infra/src/main/resources/data.sql
  db/initdb.d/2-data.sql
Labels: fix, booking

#250 fix: 대기열, 참가열 분리
  .DS_Store
  api/api-booking/.DS_Store
  api/api-booking/http/booking.http
  api/api-booking/src/main/java/com/pgms/apibooking/common/util/RedisOperator.java
  api/api-booking/src/main/java/com/pgms/apibooking/config/WebConfig.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/booking/service/BookingService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/controller/BookingQueueController.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/service/BookingQueueManager.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/bookingqueue/service/BookingQueueService.java
  api/api-booking/src/main/java/com/pgms/apibooking/domain/seat/service/SeatLockManager.java
  api/api-booking/src/test/java/com/pgms/apibooking/service/BookingServiceTest.java
  http/bingterpark.http
Labels: fix, booking

#254 fix: 배치 좌석 업데이트 쿼리 bulk 업데이트로 수정
  batch/batch-booking/src/main/java/com/pgms/batchbooking/seat/SeatReleaseTasklet.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/BookingCancel.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/booking/repository/TicketRepository.java
Labels: fix, booking
